// theme.scss

$primaryColor: #00b33d !default;
$primaryLightColor: #b2f2d3 !default; // Bạn có thể thay nếu muốn sáng hơn
$primaryDarkColor: #61bc3f !default;  // màu phụ hoặc màu hover
$primaryDarkerColor: #049d36 !default; // đậm hơn nữa nếu cần
$primaryTextColor: #ffffff !default;

$highlightBg: #f0fdfa !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, 0.2) !default;

// Import PrimeReact SASS cấu trúc
@import "./_variables";
@import "./_fonts";
@import "../../theme-base/_components";
@import "./_extensions";
